---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
const { images, img, s, t, index } = Astro.props;
---

<div class="lb-overlay" id={"overlay-" + index}>
  <div class="controls">
    <a
      href={index == 0
        ? "#overlay-" + (images.length - 1)
        : "#overlay-" + (index - 1)}
      ><Icon name="mdi:chevron-left" />
    </a>
    <a
      href={images.length == index + 1
        ? "#overlay-0"
        : "#overlay-" + (index + 1)}
      ><Icon name="mdi:chevron-right" />
    </a>
    <a href="#gallery"><Icon name="mdi:window-close" /></a>
  </div>

  <Picture
    alt="Foto"
    aspectRatio="10:4"
    background="#ddd"
    formats={["avif", "webp", "jpeg"]}
    sizes={"(max-width: 3000px) 1000px,2000px"}
    src={"/images/" + s.slug.substr(2) + "/" + img.file}
    widths={[1000, 2000]}
  />

  <div class="info"> 
    {img.alt} 

    {img.author ? <span> / {t.picture}: <a href={img.authorurl} target="_blank" rel="noopener">{img.author}</a></span> : ""}
   
   {img.lic ? <span> / {t.license}:</span> <a href={img.licurl} target="_blank" rel="noopener">{img.lic}</a> : ""}

    {" / " && img.hint}
  </div>
</div>

<style>
  .controls a {
    color: white;
  }

  svg {
    width: 40px;
  }
</style>
