---
import AuthorThumb from "@components/Elements/AuthorThumb.astro";
import DescLong from "@components/SeedDetail/DescLong.astro";
import DetailVisual from "@components/Elements/DetailVisual.astro";
import Gallery from "@components/SeedDetail/Gallery.astro";
import HowTo from "@components/SeedDetail/HowTo.astro";
import Inspirational from "@components/SeedDetail/Inspirational.astro";
import KeyVisualLic from "./KeyVisualLic.astro";
import Linklist from "@components/SeedDetail/Linklist.astro";
import Seed from "@layouts/Seed.astro";
import TagsList from "@components/SeedDetail/TagsList.astro";
import Videos from "@components/SeedDetail/Videos.astro";


const { s } = Astro.props;
const lang = s.id.substr(0, 2);
---

<Seed title={s.data.name} desc={s.data.desc_short} lang={lang}>
  <div slot="main">
    <article class="seeddetail">
      <h1>{s.data.name}</h1>

      <DetailVisual s={s} />

      <AuthorThumb s={s} />

      {s.data.keyvisual != "" && <KeyVisualLic s={s} />}

      {s.data.desc_long && <DescLong desc={s.data.desc_long} />}

      {s.data.steps.length != 0 && <HowTo s={s} />}

      {s.data.gallery.length != 0 && <Gallery s={s} />}

      {
        s.data.inspirational && (
          <Inspirational inspirational={s.data.inspirational} />
        )
      }

      <Videos s={s} />

      <TagsList s={s} />

      {s.data.links.length != 0 && <Linklist s={s} />}

      <style>
        h1 {
          margin: 0 0 0 0;
        }
      </style>
    </article>
  </div>
</Seed>
