---
import Footer from "@components/Footer/Footer.astro";
import Facebook from "@components/Meta/Facebook.astro";
import Favicons from "@components/Meta/Favicons.astro";
import Header from "@components/Header/Header.astro";
import Linkrel from "@components/Meta/Linkrel.astro";
import Metas from "@components/Meta/Metas.astro";
import { site } from "@data/site";
import Social from "@components/Social/Social.astro";
import Twitter from "@components/Meta/Twitter.astro";
import "../styles/custom.scss";

const lang: string = Astro.url.pathname.substr(1, 2);
let t: any;
lang == "de"
  ? (t = site.languages.de.pages.frontpage)
  : (t = site.languages.en.pages.frontpage);
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <Metas site={site} title={t.name} desc={t.desc} lang={lang} />
    <!--<Preconnect /> -->
    <Linkrel site={site} lang={lang} />
    <title>
      {t.name + site.name}
    </title>
    <Facebook
      site={site}
      title={t.name}
      desc={t.desc}
      lang={lang}
      site={site}
    />
    <Twitter site={site} title={t.name} desc={t.desc} lang={lang} />
    <Favicons site={site} />
    <!--<Adsense />-->
  </head>
  <body>
    <Header lang={lang} site={site} />
    <main class="indent-me">
      <slot name="main" />
    </main>
    <Social lang={lang} site={site} />
    <Footer lang={lang} site={site} />
    <slot name="json" />
  </body>
</html>
